body {
    background-color: #f8f9fa;
    color: #343a40;
}
.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 200px; /* Adjust this value to move the container down */
}
.form-group input{
    border-radius: 10px;    
}
.btn {
    border-radius: 8px; /* Rounded edges for the submit button */
}
