<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="\static\css\thank_you.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Thank You!</h1>
        <p>Your message has been sent successfully. I will get back to you soon.</p>
        <div class="d-flex mt-3">
            <a href="/" class="btn btn-custom mr-2">Go Back to Home</a>
            <button class="btn btn-logout" onclick="window.location.href='/logout'">Logout</button>
        </div>
    </div>
</body>
</html>